.wrap {
  position: relative;
}
.wrap header {
  text-align: center;
  margin: 30px 0;
}
.credit, .title, .personal_money {
  display: inline-block;
}
.credit {
  color: red;
}
.personal_money {
  color: green;
}
.title {
  font-size: 32px;
  text-align: center;
  font-weight: 100;
  margin: 0 80px;
}
.truck_box {
  display: inline-block;
}
.truck_box {
  position: relative;
  width: 75%;
  vertical-align: top;
}
.truck_smoke {
  position: absolute;
  top: -57px;
  left: 647px;
  width: 80px;
  height: 150px;
  background: url('./img/smoke.png');
  background-size: 80px 150px;
  transform: rotate(-57deg);
  opacity: 0;
  transition: all 0.5s;
}
.burse_container {
  width: 20%;
  padding: 10px;
  display: inline-block;
  transition: all 0.5s;
  h4 {
    font-size: 19px;
    text-align: center;
  }
}
.burse_box {
  width: 100%;
  padding: 10px;
  text-align: center;
  max-height: 400px;
  overflow-y: scroll;
  li {
    cursor: pointer;
    background: #eee;
    padding: 10px;
    margin: 4px 0;
  }
}
.start_stop-btn {
  cursor: pointer;
  width: 100px;
  height: 100px;
  background: url('./img/start-stop.png');
  background-size: 100px;
  display: inline-block;
  opacity: 0.5;
  transition: all 0.3s;
}
.speedometer, .tachometer {
  position: relative;
  width: 220px;
  height: 234px;
  display: inline-block;
  vertical-align: top;
  background-size: 220px 234px !important;
}
.speedometer {
  background: url('./img/speedometer.png');
}
.tachometer {
  background: url('./img/tachometer.png');
}
.speedometer .arrow_box {
  position: relative;
  width: 100%;
  height: 100%;
  .arrow100w {
    position: absolute;
    top: 114px;
    left: 0;
    width: 100%;
    height: 5px;
    //border: 1px solid red;
    transform: rotate(-48deg);
    transition: all 1s;
    .arrow {
      position: absolute;
      left: 31px;
      width: 100px;
      height: 5px;
      background: red;
      .cricle {
        position: absolute;
        top: -10px;
        left: 69px;
        width: 25px;
        height: 25px;
        background: red;
        border-radius: 100%;
      }
    }
  }
}
.all-time-traveled, .distance-covered {
  position: absolute;
  width: 56px;
  height: 15px;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
}
.all-time-traveled {
  top: 83px;
  left: 85px;
  font-size: 14px;
}
.distance-covered {
  top: 139px;
  left: 82px;
}
.tachometer .arrow_box {
  position: relative;
  width: 100%;
  height: 100%;
  .arrow100w {
    position: absolute;
    top: 114px;
    left: 0;
    width: 100%;
    height: 5px;
    //border: 1px solid red;
    transform: rotate(-37deg);
    transition: all 1s;
    .arrow {
      position: absolute;
      left: 31px;
      width: 100px;
      height: 5px;
      background: red;
      .cricle {
        position: absolute;
        top: -10px;
        left: 69px;
        width: 25px;
        height: 25px;
        background: red;
        border-radius: 100%;
      }
    }
  }
}
.fuel_level {
  position: relative;
  width: 110px;
  height: 95px;
  display: inline-block;
  background: url('./img/fuelLevel.png') no-repeat;
  background-size: 110px;
  .arrow_box {
    position: absolute;
    top: 30px;
    left: 20px;
    width: 70px;
    height: 5px;
    transform: rotate(-44deg);
    transition: all 1s;
    .arrow {
      position: absolute;
      top: 0;
      width: 40px;
      height: 5px;
      background: red;
      .cricle {
        position: absolute;
        top: -6px;
        left: 30px;
        width: 15px;
        height: 15px;
        border-radius: 100%;
        background: red;
      }
    }
  }
}
.low-fuel-level {
  position: absolute;
  top: 61px;
  left: 20px;
  border-radius: 100%;
  width: 12px;
  height: 12px;
  background: red;
  opacity: 0.5;
  transition: all 0.3s;
}
.msg_container {
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 300px;
  height: 100px;
}
.msg_box {
  color: #fff;
  width: 100%;
  height: 100%;
  position: absolute;
  right: -320px;
  transition: all 0.5s;
  border-radius: 10px 0 0 10px;
}
.msg_title {
  text-align: center;
  padding: 15px 10px 0 10px;
}
.msg_text {
  text-align: center;
  padding: 10px;
  margin: 10px 0 0 0;
}
.refueling_container {
  cursor: pointer;
  position: absolute;
  bottom: 53px;
  left: 596px;
  display: inline-block;
  width: 40px;
  height: 40px;
  background: url('./img/fueling.png') no-repeat;
  background-size: 40px;
  opacity: 0.5;
  transition: all 0.3s;
}
.bank_container {
  cursor: pointer;
  position: absolute;
  bottom: 53px;
  left: 663px;
  display: inline-block;
  width: 40px;
  height: 40px;
  background: url('./img/bank.png') no-repeat;
  background-size: 40px;
  opacity: 0.5;
  transition: all 0.3s;
}

.popup_container {
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  background: #000;
  background-color: rgba(0, 0, 0, 0.8);
  background: rgba(0, 0, 0, 0.8);
  transition: all 0.3s;
  display: none;
  opacity: 0;
}
.popup {
  margin: 15% 0 0 0;
  display: inline-block;
  width: 350px;
  background: #b3d4fc;
  padding: 15px;
  border-radius: 2px;
  input {
    width: 100%;
    margin: 5px 0;
    padding: 5px 0;
  }
  button {
    margin: 5px 0;
    padding: 5px 0;
    width: 100%;
  }
}
