html, body {
	height: 100%;
	font-family: 'Roboto', sans-serif;
}
.wrapper {
	text-align: center;
}
.container-game, .container-result {
	display: inline-block;
	vertical-align: top;
	text-align: left;
}
.container-game {
	width: 700px;
}
.container-result {
	width: 350px;
	margin: 0 0 0 45px;
}
.game-item_box {
	margin: 0 0 20px 0;
	padding: 0;
	text-align: center;
}
.game-item_box li {
	list-style: none;
	display: inline-block;
}
.game-item_box li img {
	height: 40px;
}
.game-canvas {
	position: relative;
	width: 700px;
	height: 400px;
	padding: 5PX 5px 25px 5px;
	background: #eee;
	border: 3px dashed #cacaca;
}
.game-canvas img {
	position: absolute;
	top: 0;
	left: 0;
	height: 40px;
	transition: all 0.3s;
}
.time-game {
	font-weight: 600;
	font-size: 15px;
	color: #6f6f6f;
	position: absolute;
	right: 0;
	bottom: 0;
	width: 150px;
	height: 20px;
	border-top: 3px dashed #cacaca;
	border-left: 3px dashed #cacaca;
	text-align: center;
	padding: 0;
}
.num-hits {
	font-weight: 600;
	font-size: 15px;
	color: #6f6f6f;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 150px;
	height: 20px;
	border-top: 3px dashed #cacaca;
	border-right: 3px dashed #cacaca;
	text-align: center;
	padding: 0;
}
.level-box {
	margin: 15px 0 0 0;
	padding: 0;
	text-align: center;
}
.level-box li {
	cursor: pointer;
	color: #9d9d9d;
	display: inline-block;
	margin: 0 10px;
	padding: 5px;
	border: 3px dashed #cacaca;
	font-weight: bold;
	transition: all 0.2s;
}
.level-box li:hover {
	color: #000;
	border: 3px dashed #000;
}
.level-box li.active {
		color: #000;
	border: 3px dashed #000;
}
.container-result {
	background: #eee;
	border: 3px dashed #cacaca;
	margin: 65px 0 0 75px;
	text-align: center;
}
.container-result h3 {
	text-transform: uppercase;
	text-align: center;
}
.result-box {
	padding: 0;

}
.result-box li {
	width: 100%;
	display: inline-block;
list-style: none;
}