.atm {
  justify-content: center;
  //filter: blur(20px);
}
.atm_title {
  text-align: center;
  font-size: 24px;
  margin: 50px 0 0 0;
}
.atm-box {
  margin: 20px 0 0 0;
  padding: 30px;
  background: #11be0d;
  border-radius: 10px;
  display: none;
}
.atm-screen_box {
  width: 400px;
  height: 200px;
  padding: 10px;
  background: #eeeeee;
  border-radius: 10px;
}
.pay-the-money {
  position: relative;
  width: 100%;
  height: 40px;
  background: #eee;
  border-radius: 10px;
  margin: 30px 0 0 0;
  &:before {
    content: '';
    position: absolute;
    width: 96%;
    height: 10px;
    background: #000;
    margin: 15px 10px;
  }
}
.atm-keyboard_box {
  height: 250px;
  padding: 10px;
  background: #eee;
  margin: 30px 0 0 0;
  border-radius: 10px;
}
.container .atm-keyboard {
  height: 100%;
  justify-content: center;;
  flex-direction: column;
  padding: 0 0 0 45px;
  span {
    color: rgba(61, 67, 70, 0.89);
    cursor: pointer;
    font-size: 24px;
    display: inline-block;
    padding: 15px 20px;
    border: 1px solid #878787;
    margin: 2px;
    transition: all 0.3s;
    &:hover {
      background: #ddd;
    }
  }
  .zero {
    width: 187px;
    text-align: center;
  }

}

.pin-screen {
  text-align: center;
  .title {
    color: #828181;
    font-size: 22px;
    margin: 57px 0 0 0;
  }
  .field-pin {
    width: 115px;
    height: 20px;
    background: #dddddd;
    display: inline-block;
    margin: 14px 0 0 0;
    padding: 5px 10px;
    font-size: 31px;
    color: #8f8f8f;
    border-radius: 4px;
  }
}
.welcome-screen {
  text-align: center;
  .title {
    color: #655e5e;
    text-align: center;
    margin: 10px 0;
  }
  .personal-money {
    color: #655e5e;
    margin: 20px 0 10px 0;
  }
  .btn-box {
    margin: 50px 0 0 0;
  }
  .next-btn, .cansel-btn {
    display: inline-block;
    margin: 0 10px;
  }
  button {
    padding: 5px;
    margin: 3px 3px 6px 3px;
  }
}

.balance-screen {
  text-align: center;
  .personal-money {
    font-size: 20px;
    font-weight: 700;
    color: #7d7d7d;
    margin: 76px 0 0 0;
  }
  .btn-box {
    margin: 40px 0 0 0;
  }
}

.phone-screen {
  text-align: center;
  .new-phone-num {
    font-size: 18px;
    color: #000;
    width: 150px;
    background: #b0b0b0;
    display: inline-block;
    margin: 68px 0 0;
    padding: 10px;
    border-radius: 3px;
  }
  .btn-box {
    margin: 40px 0 0 0;
  }
}

.cash-screen {
  text-align: center;
  .personal-money {
    color: #655e5e;
    margin: 10px 0;
  }
  .input-cash {
    color: #ffffff;
    display: inline-block;
    width: 160px;
    padding: 8px;
    background: #a3a3a3;
    border-radius: 3px;
    font-weight: bold;
    margin: 36px 0 0 0;
  }
  .currency-size {
    cursor: pointer;
    color: #555555;
    min-width: 35px;
    display: inline-block;
    padding: 5px;
    border: 1px solid #979797;
    background: #bebebe;
    border-radius: 3px;
    margin: 10px 5px 0;
  }
}

.confirm-screen {
  text-align: center;
  p {
    margin: 43px 0 0 0;
  }
  .btn-box {
    margin: 50px 0 0 0;
  }
  .next-btn, .cansel-btn {
    display: inline-block;
    margin: 0 10px;

  }
}
.pin-screen,
.welcome-screen,
.phone-screen,
.balance-screen,
.cash-screen,
.confirm-screen,
.exit-screen {
  display: none;
}

.exit-screen {
  text-align: center;
  .title {
    color: #437b4d;
    font-size: 19px;
    margin: 61px 0 0 0;
  }
  .btn-box {
    margin: 30px 0 0 0;
  }
}

.msg-box {
  width: 250px;
  height: 100px;
  position: fixed;
  right: 0;
  bottom: 0;
  overflow: hidden;
  .msg {
    position: absolute;
    top: 0;
    left: 255px;
    /* margin: 0 0 0 -246px; */
    width: 250px;
    transition: all 0.3s;
    //border: 1px solid #000;
    padding: 20px 10px;
    background: tomato;
    border-radius: 5px 0 0 5px;
    .title {
      text-align: center;
      margin: 0 0 10px 0;
    }
    .text {
      font-size: 16px;
      text-align: center;
    }
  }
}


