.menu {
  padding: 10px;
  background: #66bf17;
  li {
    display: inline-block;
    &:after {
      color: #fff;
      content: '|';
      margin: 0 5px;
    }
    &:last-child:after {
      content: '';
    }
    span {
      cursor: pointer;
      transition: all 0.2s;
      &:hover {
        color: #fff;
      }
    }
  }
  .location {
    float: right;
  }
}
