.pop_up-box {
  display: none;
  width: 100%;
  height: 100vh;
  background: #d3d3d3;
  position: fixed;
  z-index: 3;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.5s;
}

//form
.reg_atm, .reg_user, .atm_list, .remindPinCode, .showCard {
  display: none;
}
.atm_list {
  .item_atm {
    padding: 10px;
    margin: 5px;
    display: inline-block;
    background: #66bf17;
    border-radius: 5px;
    .atmBtn {
      width: 100%;
      padding: 4px;
      margin: 5px 0 0 0;
      box-sizing: border-box;
    }
  }
}
.reg_user, .reg_atm {
  max-width: 300px;
  h1 {
    font-size: 24px;
    text-align: center;
    margin: 0 0 20px 0;
  }
  label {
    display: block;
    //margin: 10px 0 0 0;
    &:after {
      content: '*';
      color: red;
    }

  }
  input {
    width: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
  }
  button {
    width: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
    margin: 10px 0 0 0;
  }
  .form_error {
    width: 100%;
    position: relative;
    background: red;
    margin: 10px 0 0 0;
    padding: 2px 5px;
    border-radius: 4px;
    box-sizing: border-box;
    display: none;
    &:before {
      content: '';
      position: absolute;
      left: 20px;
      top: -19px;
      border: 10px solid transparent;
      border-top: 10px solid #ed4532;
      transform: rotate(180deg);
    }
  }
}
.showCard {
  .card {
    font-weight: bold;
    text-align: center;
    position: relative;
    width: 350px;
    height: 200px;
    border-radius: 5px;
    background: url('./img/bgCard.png') no-repeat;
    background-size: 350px;
    .cardNum {
      color: #fff;
      width: 100%;
      position: absolute;
      bottom: 30px;
    }
    .endDate {
      color: #fff;
      width: 100%;
      position: absolute;
      bottom: 10px;
    }
  }
}
