.pop-up_bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.pop-up_box {
  width: 300px;
  //height: 300px;
  padding: 20px;
  background: #ffffff;
  -webkit-box-shadow: 2px 2px 14px 0 rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 14px 0 rgba(0,0,0,0.75);
  box-shadow: 2px 2px 14px 0 rgba(0,0,0,0.75);
  .title {
    font-size: 22px;
    text-align: center;
    margin: 0 0 10px 0;
  }
  label {
    color: #000;
    font-weight: bold;
    display: block;
    margin: 10px 0 5px 0;
  }
  input {
    width: 92%;
    padding: 5px 10px;
  }
  button {
    color: #fff;
    padding: 10px;
    width: 100%;
    margin: 10px 0 0 0;
    background: #2fbe25;
    border: none;
  }
}
