body {
  margin: 0;
  padding: 40px;
  outline: none; }

.wrap {
  margin: 0 auto;
  text-align: center; }

.todo-text, button {
  padding: 10px; }

.todo-text {
  display: inline-block;
  width: 400px; }

.list {
  padding: 0;
  width: 600px;
  display: inline-block; }

.list li {
  padding: 10px;
  margin: 5px 0;
  border: 1px dashed #333230;
  background: #eeeeee;
  list-style: none;
  position: relative;
  border-radius: 5px; }

.remove-btn, .edit-btn {
  cursor: pointer;
  position: absolute;
  right: 10px;
  width: 20px;
  height: 20px;
  display: inline-block;
  background: indianred;
  transition: all 0.3s;
  border-radius: 10px; }
  .remove-btn:hover, .edit-btn:hover {
    opacity: 0.8; }

.edit-btn {
  right: 35px;
  background: yellow; }

.rename-input, .rename-btn {
  padding: 5px; }
