* {
    padding: 0;
    margin: 0;
}
html, body {
    position: relative;
    height: 100%;
}
.container {
    display: flex;
}
.container, .accordion {
    justify-content: center;
    align-items: center;
    height: 100%;
}
.accordion_box {
    width: 70%;
    /*background: #eee;*/
}
.accordion_box li {
    list-style: none;
    padding: 5px;
    margin: 5px;
    display: block;
}
.accordion_title {
    cursor: pointer;
    padding: 5px;
    background: #ddd;
}
.accordion_text {
    display: none;
}
.active {
    display: block;
}
.pop-up {
    display: none;
}
.container, .pop-up {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.pop-up_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #eee;
}
.pop-up_box {
    max-width: 400px;
    min-height: 400px;
    background: #ddd;
    padding: 10px;
}
.pop-up_box .close {
    text-align: right;
}
.pop-up_box .close span {
    cursor: pointer;
    color: #fff;
    display: inline-block;
    padding: 5px 10px;
    background: #000;
}
