<div class="wrap" id="wrap">
    <header>
        <div class="credit">Вы должны банку: <span id="credit">1200$</span></div>
        <h1 class="title">Дальнобойщик</h1>
        <div class="personal_money">Вы заработали: <span id="personalMoney">800$</span></div>
    </header>
    <div class="container">
        <div class="truck_box" id="truckBox">
            <div class="truck_smoke" id="truck_smoke"></div>
            <img src="./img/truck.png" alt="">
        </div>
        <!--burse-->
        <div class="burse_container">
            <h4>Биржа грузов:</h4>
            <ul class="burse_box" id="burseBox"></ul>
        </div>
    </div>
    <div class="container">
        <div class="start_stop-btn" id="startStopBtn"></div>
        <div class="speedometer" id="speedometer">
            <span class="all-time-traveled" id="allTimeTraveled">0</span>
            <span class="distance-covered" id="distanceCovered">0</span>
            <div class="arrow_box">
                <div class="arrow100w"><div class="arrow">
                    <div class="cricle"></div>
                </div></div>
            </div>
        </div>
        <div class="tachometer" id="tachometer">
            <div class="arrow_box">
                <div class="arrow100w"><div class="arrow">
                    <div class="cricle"></div>
                </div></div>
            </div>
        </div>
        <div class="fuel_level" id="fuelLevel">
            <div class="low-fuel-level" id="lowFuelLevel"></div>
            <div class="arrow_box" id="arrowBox">
                <div class="arrow">
                    <div class="cricle"></div>
                </div>
            </div>
        </div>
        <div class="refueling_container" id="refuelingContainer" title="Заправить авто">
        </div>
        <div class="bank_container" id="bankContainer" title="Погасить кредит">
        </div>
        <div class="msg_container" id="msgContainer">
            <div class="msg_box" id="msgBox">
                <h3 class="msg_title" id="msgTitle">test</h3>
                <p class="msg_text" id="msgText">dfhhjhfmjm</p>

            </div>
        </div>
    </div>
    <!--pop-up-->
    <div class="popup_container" id="popupContainer">
        <div class="popup">
            <h2 class="title">Заправка</h2>
            <div class="pop-up_box" id="popUpBox"></div>
        </div>
    </div>
</div>
