<div class="container atm">
    <h1 class="atm_title" id="atmTitle">Для работы нужно выбрать банкомат</h1>
    <div class="atm-box">
        <!--screen-->
        <div class="atm-screen_box">
            <!--pin-->
            <div class="pin-screen" id="pinScreen" style="display: block">
                <h2 class="title">Введите пин-код:</h2>
                <div class="field-pin" id="fieldPin"></div>
            </div>
            <!--welcome-->
            <div class="welcome-screen" id="welcomeScreen">
                <h2 class="title">Здравствуйте <span class="user-name">Евгений</span>
                    !
                </h2>
                <!--<p class="personal-money">На вашем счету: <span class="money">5600</span>грн.</p>-->
                <button class="change-phone" id="phoneNum">Изменить номер</button>
                <button class="check-balance" id="balance">проверить баланс</button>
                <button class="cash" id="cash">снять деньги</button>
                <div class="btn-box">
                    <!--<p class="next-btn">Продолжить - enter</p>-->
                    <p class="cansel-btn">Выйти - cansel</p>
                </div>
            </div>
            <!--balance-->
            <div class="balance-screen" id="balanceScreen" style="display: none">
                <p class="personal-money">На вашем счету: <span class="money">5600</span>грн.</p>
                <div class="btn-box">
                    <!--<p class="next-btn">Продолжить - enter</p>-->
                    <p class="cansel-btn">Назад - cansel</p>
                </div>
            </div>
            <!-- change phone number-->
            <div class="phone-screen" id="phoneScreen">
                <div class="new-phone-num" id="newPhoneNum"></div>
                <div class="btn-box">
                    <!--<p class="next-btn">Продолжить - enter</p>-->
                    <p class="cansel-btn">Назад - cansel</p>
                </div>
            </div>
            <!--cash-->
            <div class="cash-screen" id="cashScreen">
                <p class="personal-money">На вашем счету: <span class="money">5600</span>грн.</p>
                <div class="input-cash_box">
                    <div class="input-cash">0</div>
                </div>
                <div class="currency-size">50</div>
                <div class="currency-size">100</div>
                <div class="currency-size">200</div>
            </div>
            <!--confirm-->
            <div class="confirm-screen" id="confirmScreen">
                <p>Вы подтверждаете снятие <span class="amount-money">550</span>грн?</p>
                <p class="commission">Комиссия: <span id="commission">34</span>грн.</p>
                <div class="btn-box">
                    <p class="next-btn">Подтвердить - enter</p>
                    <p class="cansel-btn">Отменить и выйти - cansel</p>
                </div>
            </div>
            <!--exit-->
            <div class="exit-screen" id="exitScreen">
                <h2 class="title">Спасибо, что воспользовались услугами нашего банка!</h2>
                <div class="btn-box">
                    <p class="cansel-btn">Выйти - enter</p>
                </div>
            </div>

        </div>
        <div class="pay-the-money"></div>
        <!--keyboard-->
        <div class="atm-keyboard_box">
            <div class="container atm-keyboard">
                <div>
                    <span class="num">1</span>
                    <span class="num">2</span>
                    <span class="num">3</span>
                    <span class="clear">clear</span>
                </div>
                <div>
                    <span class="num">4</span>
                    <span class="num">5</span>
                    <span class="num">6</span>
                    <span class="cansel">cansel</span>
                </div>
                <div>
                    <span class="num">7</span>
                    <span class="num">8</span>
                    <span class="num">9</span>
                    <span class="enter">enter</span>
                </div>
                <div class="zero">
                    <span class="num">0</span>
                </div>
            </div>
        </div>
    </div>
    <!--msg-->
    <div class="msg-box" id="msgBox">
        <div class="msg">
            <h2 class="title">Банк</h2>
            <p class="text">лоамрлуормлуомрлор</p>
        </div>
    </div>

</div>
