<!--<script src="js/main.js"></script>-->
<!--<script src="js/reg_user.js"></script>-->
<!--<script src="js/popup.js"></script>-->
<!--<script src="js/selectAtm.js"></script>-->
<!--<script src="js/check_reg.js"></script>-->
<script src="js/scripts.js"></script>
</body>
</html>
