<ul class="menu" id="menu">
    <li><span class="regAtm">Зарегистрировать новый банкомат</span></li>
    <li><span class="selectAtm">Выбрать банкомат</span></li>
    <li><span class="remindPin">Пин-код</span></li>
    <li><span class="showUserCard">Показать карту</span></li>
    <span class="location" id="localion"></span>
</ul>
