<div class="pop_up-box" id="popUpBox"><div class="pop_up-container">
    <div class="reg_user" id="regUser">
        <h1>Регистрация</h1>
        <label for="firsName">Имя:</label>
        <input type="text" id="firsName">
        <div class="form_error" id="firsNameError">content</div>
        <label for="patronymic">Отчество:</label>
        <input type="text" id="patronymic">
        <div class="form_error" id="patronymicError">error</div>
        <label for="surname">Фамилия:</label>
        <input type="text" id="surname">
        <div class="form_error" id="surnameError">error</div>
        <label for="phoneNum">Моб.номер:</label>
        <input type="number" id="phoneNum">
        <div class="form_error" id="phoneNumError">error</div>
        <button id="regBtn">Зарегистрироваться</button>
    </div>
    <div class="reg_atm" id="regAtm">
        <h1>Регистрация банкомата</h1>
        <label for="city">Город:</label>
        <input type="text" id="city">
        <div class="form_error" id="cityError">content</div>
        <label for="street">Улица:</label>
        <input type="text" id="street">
        <div class="form_error" id="streetError">error</div>
        <label for="houseNum">Номер дома:</label>
        <input type="number" id="houseNum">
        <div class="form_error" id="houseNumError">error</div>
        <button id="addAtnBtn">Зарегистрировать</button>
    </div>
    <div class="atm_list" id="atmList"></div>
    <div class="remindPinCode" id="remindPinCode">
        <h2>Ваш пин-код: <span></span></h2>
    </div>
    <div class="showCard" id="showCard">
        <div class="card">
            <div class="cardNum">2234 8888 4535 1139</div>
            <div class="endDate">2022/03</div>
        </div>
    </div>
</div></div>
