<div class="pop-up_bg container">
    <div class="pop-up_box">
        <h1 class="title">Зарегистрироваться</h1>
        <label for="regName">Имя:</label>
        <input type="text" id="regName">
        <label for="regPatronymic">Отчество:</label>
        <input type="text" id="regPatronymic">
        <label for="regSurname">Фамилия:</label>
        <input type="text" id="regSurname">
        <button id="regBtn">Зарегистрироваться!</button>
    </div>
</div>
