.wrap {
  width: 400px;
  margin: 0 auto; }
  .wrap label, .wrap input {
    display: block; }
  .wrap label {
    font-weight: bold;
    margin: 5px 0; }
  .wrap input {
    width: 94%;
    padding: 10px; }
  .wrap button {
    cursor: pointer;
    width: 100%;
    margin: 10px 0 0 0;
    padding: 10px; }

.cardBox {
  text-align: center; }

.card {
  color: #fff;
  font-weight: bold;
  position: relative;
  width: 330px;
  height: 150px;
  display: inline-block;
  vertical-align: top;
  padding: 10px 0 0 0;
  margin: 10px;
  border: 1px solid #000;
  border-radius: 5px; }
  .card .fullNameEl {
    margin: 30px 0 10px 0; }
  .card .btnBox {
    padding: 0 10px 0 0;
    text-align: right; }
    .card .btnBox span {
      cursor: pointer;
      display: inline-block;
      margin: 0 5px; }
